@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-nav-disc:before {
  content: "\e900";
}

._icon-big-arrow:before {
  content: "\e901";
}

._icon-crosshair:before {
  content: "\e902";
}

._icon-delete:before {
  content: "\e903";
}

._icon-doc:before {
  content: "\e904";
}

._icon-gift:before {
  content: "\e905";
}

._icon-like-dislike:before {
  content: "\e906";
}

._icon-nav-business:before {
  content: "\e907";
}

._icon-nav-covid:before {
  content: "\e908";
}

._icon-nav-health:before {
  content: "\e909";
}

._icon-nav-notifi:before {
  content: "\e90a";
}

._icon-nav-play:before {
  content: "\e90b";
}

._icon-nav-settings:before {
  content: "\e90c";
}

._icon-nav-sports:before {
  content: "\e90d";
}

._icon-nav-top:before {
  content: "\e90e";
}

._icon-nav-world:before {
  content: "\e90f";
}

._icon-read:before {
  content: "\e910";
}

._icon-search:before {
  content: "\e911";
}

._icon-share:before {
  content: "\e912";
}

._icon-slider-arrow:before {
  content: "\e913";
}

._icon-story:before {
  content: "\e914";
}

._icon-user:before {
  content: "\e915";
}

._icon-user-arrow:before {
  content: "\e916";
}

._icon-dotts:before {
  content: "\e917";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #072D4B;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #F4F9F8;
  -webkit-tap-highlight-color: transparent;
}
.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@media (min-width: 90em) {
  [class*=__container] {
    padding-left: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (padding-left: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    [class*=__container] {
      padding-left: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    [class*=__container] {
      padding-left: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  [class*=__container] {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 90em) {
  [class*=__container] {
    padding-right: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (padding-right: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    [class*=__container] {
      padding-right: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    [class*=__container] {
      padding-right: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  [class*=__container] {
    padding-right: 0.9375rem;
  }
}

.button {
  padding: 0.625rem 1.5625rem;
  background-color: #2F9FF8;
  border-radius: 4px;
  font-size: 0.9375rem;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #2474b6;
  }
}
.button_min {
  padding: 0.4375rem 1.25rem;
}
.button_border {
  background-color: transparent;
  border: 1px solid #2F9FF8;
  padding: 0.5625rem 1.25rem;
  color: #2F9FF8;
}
@media (any-hover: hover) {
  .button_border:hover {
    color: #fff;
    border: 1px solid #2474b6;
  }
}
.button_dark {
  background-color: #0768B5;
}
@media (any-hover: hover) {
  .button_dark:hover {
    background-color: #2F9FF8;
  }
}
.button_dark-border {
  background-color: transparent;
  border: 1px solid #072D4B;
  color: #072D4B;
}
@media (any-hover: hover) {
  .button_dark-border:hover {
    color: #fff;
    background-color: #072D4B;
    border: 1px solid #072D4B;
  }
}
.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg--contain] img {
  object-fit: contain;
}

[class*=__text] {
  color: rgba(7, 46, 75, 0.6);
}

.common__item {
  margin: 0px 0px 20px 0px;
}

.page {
  padding-top: 0.5rem;
}
@media (min-width: 90em) {
  .page {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 5rem )) {
    .page {
      padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 5rem )) {
    .page {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .page {
    padding-bottom: 1.875rem;
  }
}
.page__container {
  display: grid;
  grid-template-columns: minmax(14.125rem, 16.472303207%) 1fr 20.7725947522%;
}
@media (min-width: 90em) {
  .page__container {
    gap: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (gap: clamp( 0.625rem , 0.0000000625rem  +  3.125vw , 2.8125rem )) {
    .page__container {
      gap: clamp( 0.625rem , 0.0000000625rem  +  3.125vw , 2.8125rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.0000000625rem  +  3.125vw , 2.8125rem )) {
    .page__container {
      gap: calc(0.625rem + 2.1875 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .page__container {
    gap: 0.625rem;
  }
}
@media (max-width: 89.99875em) {
  .page__container {
    grid-template-columns: minmax(14.125rem, 16.472303207%) 1fr;
  }
}
@media (max-width: 61.99875em) {
  .page__container {
    grid-template-columns: 1fr;
  }
}
.page__left-side {
  min-width: 0;
  padding-bottom: 1.1875rem;
}
@media (min-width: 90em) {
  .page__left-side {
    padding-right: 1.1875rem;
  }
}
@media (max-width: 61.99875em) {
  .page__left-side {
    display: none;
  }
}
.page__main {
  min-width: 0;
}
.page__right-side {
  min-width: 0;
}

.left-side__menu:not(:last-child) {
  margin-bottom: 6.6875rem;
}
@media (min-width: 61.99875em) {
  .left-side__premium {
    margin-left: -1.1875rem;
  }
}

.menu__list_border {
  margin: 1.3125rem 0;
  padding: 0.3125rem 0;
  border-bottom: 1px solid rgba(7, 46, 75, 0.6);
  border-top: 1px solid rgba(7, 46, 75, 0.6);
}
.menu__item {
  position: relative;
}
.menu__item_active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 200%;
  background: rgba(47, 159, 248, 0.1);
  border-radius: 0px 2.3125rem 2.3125rem 0px;
}
.menu__item_active .menu__link {
  color: #2f9ff8;
  font-weight: 700;
}
.menu__item_active .menu__link::after {
  opacity: 1;
}
.menu__item:not(:last-child) {
  margin-bottom: 0.1875rem;
}
.menu__link {
  min-height: 3.125rem;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  line-height: 1.2;
  transition: all 0.3s ease 0s;
  padding: 0.3125rem 1.25rem 0.3125rem 0;
}
.menu__link::before {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  margin: 0px 1.375rem 0px 0px;
}
.menu__link::after {
  content: "";
  opacity: 0;
  width: 0.375rem;
  height: 0.375rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #2f9ff8;
}
@media (min-width: 90em) {
  .menu__link::after {
    left: -1.09375rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (left: clamp( -1.09375rem , -0.25rem  +  -0.9375vw , -0.4375rem )) {
    .menu__link::after {
      left: clamp( -1.09375rem , -0.25rem  +  -0.9375vw , -0.4375rem );
    }
  }
  @supports not (left: clamp( -1.09375rem , -0.25rem  +  -0.9375vw , -0.4375rem )) {
    .menu__link::after {
      left: calc(-0.4375rem + -0.65625 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .menu__link::after {
    left: -0.4375rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #2f9ff8;
  }
}
@media (max-width: 61.99875em) {
  .menu {
    background: #f4f9f8;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all 0.3s ease 0s;
    padding-top: 5rem;
    padding-bottom: 0.625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 90em) {
  .menu {
    padding-left: 2.125rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  @supports (padding-left: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    .menu {
      padding-left: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    .menu {
      padding-left: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 90em) {
  .menu {
    padding-right: 2.125rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 90em) {
  @supports (padding-right: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    .menu {
      padding-right: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , 0.5982142857rem  +  1.6964285714vw , 2.125rem )) {
    .menu {
      padding-right: calc(0.9375rem + 1.1875 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .menu {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .menu::before {
    content: "";
    height: 4.375rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    transition: all 0.3s ease 0s;
    z-index: 2;
    background: #f4f9f8;
  }
  .menu-open .menu::before {
    left: 0;
  }
  .menu-open .menu {
    left: 0;
  }
}

.premium {
  padding: 1.25rem;
  background-color: #2f9ff8;
  border-radius: 0.25rem;
  color: #fff;
}
.premium__title:not(:last-child) {
  margin-bottom: 0.6875rem;
}
.premium__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.25rem;
  row-gap: 0.625rem;
}
.premium__price {
  padding: 0px 1.375rem 0px 0px;
  font-size: 1.875rem;
  font-weight: 700;
}
.premium__price small {
  font-weight: 400;
  font-size: 0.9375rem;
}
.premium__button {
  flex: 1 1 auto;
}

.item {
  background-color: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: grid;
  row-gap: 0.625rem;
  align-items: start;
  grid-template-columns: 1fr minmax(8.125rem, 23.2876712329%);
  column-gap: 1.0625rem;
  padding: 1.0625rem 1.0625rem 1.0625rem 1.5rem;
}
@media (max-width: 25em) {
  .item {
    padding: 0.625rem;
  }
}
@media (min-width: 91.5625em) {
  .item_big .item__footer {
    grid-column: span 1;
  }
}
.item_noimage {
  grid-template-columns: 1fr;
}
@media (max-width: 23.74875em) {
  .item {
    grid-template-columns: 1fr;
  }
}
.item__title {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
}
.item__title:not(:last-child) {
  margin-bottom: 0.625em;
}
@media (any-hover: hover) {
  .item__link-title:hover {
    text-decoration: underline;
  }
}
.item__text {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.item__image-ibg {
  min-height: 8.125rem;
  padding: 0 0 76.4705882353% 0;
  border-radius: 0.25rem;
  overflow: hidden;
  display: inline-block;
}
@media (min-width: 47.99875em) {
  .item__image-ibg {
    grid-row: span 2;
  }
}
.item__footer {
  display: grid;
  align-self: end;
  row-gap: 0.5rem;
}
@media (min-width: 23.74875em) {
  .item__footer {
    grid-column: span 2;
    grid-template-columns: minmax(10.625rem, 40.1851851852%) 1fr;
  }
}
.info-item {
  padding: 0 0.625rem 0 0;
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  row-gap: 0.3125rem;
  color: rgba(7, 46, 75, 0.4);
  font-size: 0.75rem;
  line-height: 1.25;
}
.info-item__category {
  color: inherit;
  position: relative;
}
@media (any-hover: hover) {
  .info-item__category:hover {
    text-decoration: underline;
  }
}
.info-item__category:not(:last-child)::before {
  content: "";
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 50%;
  background: #2f9ff8;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: -0.625rem;
}
.actions-item {
  display: flex;
  column-gap: 1.5625rem;
  row-gap: 0.3125rem;
  flex-wrap: wrap;
}
.actions-item__link {
  display: inline-flex;
  align-items: center;
  column-gap: 0.625rem;
  row-gap: 0.3125rem;
  color: #0768B5;
  font-size: 0.75rem;
  line-height: 1.25;
  transition: color 0.3s ease 0s;
}
.actions-item__link::before {
  font-size: 1rem;
}
@media (any-hover: hover) {
  .actions-item__link:hover {
    color: #1484e0;
  }
}
@media (max-width: 47.99875em) {
  .actions-item {
    column-gap: 0.9375rem;
  }
}

.icon-title {
  font-size: 0.9375rem;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
}
.icon-title_bold {
  font-weight: 700;
}
.icon-title::before {
  font-size: 1.375rem;
  margin: 0px 0.5909090909em 0px 0px;
}

.right-side {
  display: grid;
  gap: 0.9375rem;
  align-content: start;
}
.right-side__module {
  background-color: #fff;
  box-shadow: 0px 0.125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  padding: 0.9375rem;
  min-width: 0;
}
@media (min-width: 90em) {
  .right-side {
    padding-top: 3.8125rem;
  }
}
@media (max-width: 89.99875em) and (min-width: 61.99875em) {
  .right-side {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2/3;
  }
}

.weather-module {
  display: grid;
  gap: 0.9375rem;
}
.weather-module__title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 0.9375rem;
  line-height: 1.2;
  border-bottom: 0.2px solid rgba(7, 46, 75, 0.4);
  padding-bottom: 0.5625rem;
}
.weather-module__footer {
  display: flex;
  gap: 1.4375rem;
}
.weather-module__type {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: rgba(7, 46, 75, 0.6);
}
.weather-module__type_active {
  color: #072D4B;
}

.body-weather-module {
  display: flex;
}
.body-weather-module__info {
  flex: 1 1 auto;
}
.body-weather-module__status {
  font-size: 0.9375rem;
  line-height: 1.2;
}
.body-weather-module__status:not(:last-child) {
  margin-bottom: 0.4375rem;
}
.body-weather-module__value {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.1538461538;
}
.body-weather-module__value sup {
  font-size: 0.75rem;
}
.story-writer {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr auto;
  gap: 0.5625rem;
}
.story-writer__title {
  grid-column: span 2;
}
.story-writer__info {
  color: rgba(7, 46, 75, 0.6);
  font-size: 0.75rem;
  line-height: 1.5;
}
.quick-bytes__header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9375rem;
  line-height: 1.2;
  border-bottom: 0.2px solid rgba(7, 46, 75, 0.4);
  padding-bottom: 0.5625rem;
}
.quick-bytes__header:not(:last-child) {
  margin-bottom: 0.8125rem;
}
.quick-bytes__arrows {
  display: flex;
  gap: 0.625rem;
}
.quick-bytes__arrow {
  background: #2f9ff8;
  flex: 0 0 24px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.quick-bytes__arrow::before {
  font-size: 0.625rem;
  transform: translate(0.0625rem, 0px);
}
.quick-bytes__arrow_left {
  transform: rotate(-180deg);
}
.quick-bytes__arrow.swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
}
.quick-bytes__slide {
  font-size: 0.75rem;
  line-height: 1.6666666667;
  color: rgba(7, 46, 75, 0.6);
}
.quick-bytes__slide p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.quick-bytes__dotts {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  min-height: 0.25rem;
  padding-top: 0.9375rem;
}
.quick-bytes__dotts .swiper-pagination-bullet {
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  background: rgba(7, 46, 75, 0.2);
}
.quick-bytes__dotts .swiper-pagination-bullet-active {
  width: 0.25rem;
  height: 0.25rem;
  background: #2f9ff8;
}

.subscribe-module__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.subscribe-module__line:not(:last-child) {
  margin-bottom: 1rem;
}
.subscribe-module__line .form__error {
  font-size: 0.625rem;
  color: red;
  margin-top: 0.125rem;
}
.subscribe-module__input {
  background: #f4f9f8;
  border: 1px solid rgba(7, 46, 75, 0.2);
  box-sizing: border-box;
  border-radius: 0.25rem;
  height: 2.375rem;
  padding: 0px 0.875rem;
  font-size: 0.9375rem;
  width: 100%;
  color: rgba(7, 46, 75, 0.6);
}
.subscribe-module__input:focus {
  color: #072D4B;
}
.subscribe-module__input._form-error {
  border: 1px solid red;
}
.header {
  position: relative;
  z-index: 50;
  padding: 0.9375rem 0;
}
.header__container {
  display: grid;
  min-height: 2.875rem;
  align-items: center;
  grid-template-columns: 16.472303207% 1fr 20.7725947522%;
}
@media (min-width: 90em) {
  .header__container {
    gap: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (gap: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 2.8125rem )) {
    .header__container {
      gap: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 2.8125rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.8035714286rem  +  2.2321428571vw , 2.8125rem )) {
    .header__container {
      gap: calc(1.25rem + 1.5625 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    gap: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .header__container {
    grid-template-columns: auto 1fr auto auto;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  justify-self: start;
  white-space: nowrap;
  color: #0768b5;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 2.1875rem;
  padding: 0px 0px 0px 2.75rem;
  min-width: 1.8125rem;
  background: url("@img/logo.png") left/1.8125rem no-repeat;
}
@media (max-width: 34.375rem) {
  .header__logo {
    padding: 0;
    min-height: 2.1875rem;
  }
  .header__logo span {
    display: none;
  }
}
.header__user {
  position: relative;
  z-index: 5;
  justify-self: end;
}

.body-header {
  display: grid;
  grid-template-columns: 1fr 33.2036316472%;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .body-header {
    grid-template-columns: 1fr;
  }
}

.search {
  position: relative;
  z-index: 5;
  height: 2.875rem;
}
.search.search__open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
  z-index: 8;
}
.search__body {
  flex: 1 1 auto;
  background: #ecf5f8;
  height: 2.875rem;
  border-radius: 0.25rem;
  position: relative;
}
@media (max-width: 26.87375em) {
  .search__body {
    background: transparent;
  }
}
.search__open .search__body {
  background: #ecf5f8;
}
.search__input {
  height: 100%;
  background-color: transparent;
  width: 100%;
  padding: 0 2.875rem 0 0.875rem;
  color: rgba(7, 45, 75, 0.3);
  font-size: 0.875rem;
}
.search__input:focus {
  color: rgb(7, 45, 75);
}
@media (max-width: 26.87375em) {
  .search__input {
    display: none;
  }
}
.search__open .search__input {
  display: block;
}
.search__icon, .search__button {
  display: none;
  width: 2.875rem;
  height: 2.875rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.125rem;
  background-color: transparent;
}
@media (min-width: 26.875em) {
  .search__button {
    display: block;
  }
}
.search__open .search__button {
  display: block;
}
@media (max-width: 26.87375em) {
  .search__icon {
    display: block;
  }
}
.search__open .search__icon {
  display: none;
}

.latest-header {
  position: relative;
  z-index: 5;
  background: #F4F9F8;
  border: 0.2px solid #072D4B;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0.1875rem 0.875rem;
  font-size: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .latest-header {
    display: none;
  }
}
.latest-header__value {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1 1 auto;
  overflow: hidden;
  padding-right: 0.3125rem;
  line-height: 1.2;
}
.latest-header__value span {
  color: #2F9FF8;
  font-weight: 500;
}
.latest-header__arrow {
  flex: 0 0 0.8125rem;
  font-size: 0.8125rem;
}

.user-header {
  position: relative;
}
.user-header__title {
  display: flex;
}
.user-header__profile {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  font-size: 0.9375rem;
  line-height: 1.2;
}
@media (min-width: 62em) {
  .user-header__profile {
    padding-right: 2.1875rem;
  }
}
@media (min-width: 0.0625em) and (max-width: 62em) {
  @supports (padding-right: clamp( 0.625rem , 0.6234233098rem  +  2.5227043391vw , 2.1875rem )) {
    .user-header__profile {
      padding-right: clamp( 0.625rem , 0.6234233098rem  +  2.5227043391vw , 2.1875rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.6234233098rem  +  2.5227043391vw , 2.1875rem )) {
    .user-header__profile {
      padding-right: calc(0.625rem + 1.5625 * (100vw - 0.0625rem) / 61.9375);
    }
  }
}
@media (max-width: 0.0625em) {
  .user-header__profile {
    padding-right: 0.625rem;
  }
}
.user-header__profile span {
  padding-left: 1rem;
}
.user-header__profile::before {
  font-size: 1.25rem;
  width: 1.25rem;
  flex: 0 0 1.25rem;
}
@media (max-width: 61.99875em) {
  .user-header__profile span {
    display: none;
  }
}
.user-header__arrow {
  transition: transform 0.3s ease 0s;
  font-size: 0.5rem;
}
.user-header_open .user-header__arrow {
  transform: rotate(-180deg);
}
.user-header__menu {
  position: absolute;
  right: 0;
  top: 100%;
}

.menu-user {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  padding: 0.9375rem;
  display: grid;
  gap: 0.625rem;
  background-color: #fff;
  min-width: 9.375rem;
  border-radius: 0.25rem;
  transform: translate(0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-user__link:hover {
    text-decoration: underline;
  }
}
.user-header_open .menu-user {
  transform: translate(0, 0.3125rem);
  opacity: 1;
  visibility: visible;
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer__container {
  display: grid;
  grid-template-columns: minmax(14.125rem, 16.472303207%) 1fr 20.7725947522%;
}
@media (min-width: 90em) {
  .footer__container {
    gap: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (gap: clamp( 0.625rem , 0.0000000625rem  +  3.125vw , 2.8125rem )) {
    .footer__container {
      gap: clamp( 0.625rem , 0.0000000625rem  +  3.125vw , 2.8125rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.0000000625rem  +  3.125vw , 2.8125rem )) {
    .footer__container {
      gap: calc(0.625rem + 2.1875 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    gap: 0.625rem;
  }
}
.footer__container::before, .footer__container::after {
  content: "";
}
@media (max-width: 89.99875em) {
  .footer__container {
    grid-template-columns: minmax(14.125rem, 16.472303207%) 1fr;
  }
}
@media (max-width: 61.99875em) {
  .footer__container {
    grid-template-columns: 1fr;
  }
}
.footer__body {
  border-top: 0.1px solid rgba(7, 46, 75, 0.4);
  padding: 1.4375rem 0;
  font-size: 0.75rem;
  line-height: 1.8333333333;
  display: flex;
  justify-content: space-between;
  color: rgba(7, 46, 75, 0.4);
}
@media (max-width: 29.99875em) {
  .footer__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4375rem 0 0.9375rem 0;
  }
}
.menu-footer {
  display: flex;
  gap: 2.375rem;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #072D4B;
  }
}

.home__stories:not(:last-child) {
  margin-bottom: 2.5rem;
}
.home__creators:not(:last-child) {
  margin-bottom: 2rem;
}
.home__news:not(:last-child) {
  margin-bottom: 2.5rem;
}

.stories-module {
  padding: 1rem 0px 0px 0px;
}
.stories-module__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.15;
}
.stories-module__title:not(:last-child) {
  margin-bottom: 1.375rem;
}
.stories-module__filter:not(:last-child) {
  margin-bottom: 1.125rem;
}
.stories-module__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 90em) {
  .stories-module__items {
    gap: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (gap: clamp( 0.625rem , 0.5178571429rem  +  0.5357142857vw , 1rem )) {
    .stories-module__items {
      gap: clamp( 0.625rem , 0.5178571429rem  +  0.5357142857vw , 1rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.5178571429rem  +  0.5357142857vw , 1rem )) {
    .stories-module__items {
      gap: calc(0.625rem + 0.375 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .stories-module__items {
    gap: 0.625rem;
  }
}
@media (max-width: 68.74875em) {
  .stories-module__items {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 68.75em) {
  .stories-module__item:first-child {
    grid-column: span 2;
  }
}

.filter {
  display: inline-flex;
  flex-wrap: wrap;
}
.filter__item {
  background: #ffffff;
  font-size: 0.9375rem;
  line-height: 1.2;
  padding: 0.375rem 1rem;
  box-shadow: 0px 0.125rem 1.25rem rgba(0, 0, 0, 0.04);
  border-radius: 1.25rem;
  transition: all 0.3s ease 0s;
  margin-bottom: 0.625rem;
}
.filter__item:not(:last-child) {
  margin-right: 0.625rem;
}
@media (any-hover: hover) {
  .filter__item:hover {
    color: #fff;
    background: #2f9ff8;
  }
}
.filter__item_active {
  color: #fff;
  background: #2f9ff8;
}
.filter__item_more {
  box-shadow: none;
  background-color: transparent;
  padding: 0 0.25rem;
  font-size: 0.375rem;
}
@media (any-hover: hover) {
  .filter__item_more:hover {
    background-color: inherit;
    color: #2f9ff8;
  }
}

.creators-module__header {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: 1fr auto;
}
.creators-module__arrows {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.creators-module__arrow {
  transition: color 0.3s ease 0s;
}
.creators-module__arrow_left {
  transform: rotate(-180deg);
}
.creators-module__arrow.swiper-button-disabled {
  opacity: 0.2;
  cursor: default;
}
.creators-module__slider {
  margin: 0px -0.75rem;
  padding: 0.75rem;
}
.slide-creator {
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8125rem;
  text-align: center;
}
.slide-creator__body {
  flex: 1 1 auto;
}
.slide-creator__body:not(:last-child) {
  margin-bottom: 0.625rem;
}
.slide-creator__avatar-ibg {
  display: inline-block;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  overflow: hidden;
}
.slide-creator__avatar-ibg:not(:last-child) {
  margin-bottom: 0.625rem;
}
.slide-creator__title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2857142857;
}
.slide-creator__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.slide-creator__position {
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: rgba(7, 46, 75, 0.6);
}
.news-module {
  display: grid;
  justify-items: center;
  gap: 2.75rem;
}
.news-module__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 90em) {
  .news-module__items {
    gap: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  @supports (gap: clamp( 0.625rem , 0.5178571429rem  +  0.5357142857vw , 1rem )) {
    .news-module__items {
      gap: clamp( 0.625rem , 0.5178571429rem  +  0.5357142857vw , 1rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.5178571429rem  +  0.5357142857vw , 1rem )) {
    .news-module__items {
      gap: calc(0.625rem + 0.375 * (100vw - 20rem) / 70);
    }
  }
}
@media (max-width: 20em) {
  .news-module__items {
    gap: 0.625rem;
  }
}
@media (max-width: 68.74875em) {
  .news-module__items {
    grid-template-columns: 1fr;
  }
}