// Заголовки, общие БЄМ блоки и проче...

// Текст
[class*="__text"] {
  color: $textColor;
}

//========================================================================================================================================================
.common {}

.common__item {
  margin: 0px 0px 20px 0px;
}

//========================================================================================================================================================

// Загальна сітка
.page {
  padding-top: toRem(8);
  @include adaptiveValue("padding-bottom", 80, 30);

  // .page__container
  &__container {
    display: grid;
    @include adaptiveValue("gap", 45, 10);
    grid-template-columns: percent(226, 1372) 1fr percent(285, 1372);
  }

  // .page__left-side
  &__left-side {
    min-width: 0;
    padding: 0px toRem(19) toRem(19) 0px;
  }

  // .page__main
  &__main {
    min-width: 0;
  }

  // .page__right-side
  &__right-side {
    min-width: 0;
  }
}

//========================================================================================================================================================
.left-side {

  // .left-side__menu
  &__menu {
    &:not(:last-child) {
      margin-bottom: toRem(107);
    }
  }

  &__ptoRemium {
    margin-left: toRem(-19);
  }
}

//========================================================================================================================================================

// Меню
.menu {

  // .menu__icon
  &__icon {}

  // .menu__body
  &__body {}

  // .menu__list
  &__list {
    &_border {
      margin: toRem(21) 0;
      padding: toRem(5) 0;
      border-bottom: 1px solid rgba(7, 46, 75, 0.6);
      border-top: 1px solid rgba(7, 46, 75, 0.6);
    }
  }

  // .menu__item
  &__item {
    position: relative;

    &_active {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 200%;
        background: rgba(47, 159, 248, 0.1);
        border-radius: 0px toRem(37) toRem(37) 0px;
      }

      .menu__link {
        color: #2f9ff8;
        font-weight: 700;

        &::after {
          opacity: 1;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: toRem(3);
    }
  }

  // .menu__link
  &__link {
    min-height: toRem(50);
    position: relative;
    display: flex;
    align-items: center;
    font-size: toRem(15);
    line-height: math.div(18, 15);
    transition: all 0.3s ease 0s;
    padding: toRem(5) toRem(20) toRem(5) 0;

    &::before {
      flex: 0 0 toRem(24);
      width: toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: toRem(22);
      margin: 0px toRem(22) 0px 0px;
    }

    &::after {
      content: "";
      opacity: 0;
      width: toRem(6);
      height: toRem(6);
      position: absolute;
      border-radius: 50%;
      @include adaptiveValue("left", -17.5, -7);
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #2f9ff8;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #2f9ff8;
      }
    }
  }
}

.icon-menu {}

// Віджет "преміум"
.ptoRemium {
  padding: toRem(20);
  background-color: #2f9ff8;
  border-radius: toRem(4);
  color: #fff;

  // .ptoRemium__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(11);
    }
  }

  // .ptoRemium__body
  &__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: toRem(20);
    row-gap: toRem(10);
  }

  // .ptoRemium__price
  &__price {
    padding: 0px toRem(22) 0px 0px;
    font-size: toRem(30);
    font-weight: 700;

    small {
      font-weight: 400;
      font-size: toRem(15);
    }
  }

  &__button {
    flex: 1 1 auto;
  }
}

//========================================================================================================================================================

// Картка
.item {
  background-color: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: grid;
  row-gap: toRem(10);
  align-items: start;
  grid-template-columns: 1fr minmax(toRem(130), percent(170, 730));
  column-gap: toRem(17);
  padding: toRem(17) toRem(17) toRem(17) toRem(24);

  @media (max-width: em(400)) {
    padding: toRem(10);
  }

  &_big {
    .item__footer {
      @media (min-width: em(1465)) {
        grid-column: span 1;
      }
    }
  }

  // .item_noimage
  &_noimage {
    grid-template-columns: 1fr;
  }

  @media (max-width: em(380)) {
    grid-template-columns: 1fr;
  }

  // .item__body
  &__body {}

  // .item__title
  &__title {
    font-weight: 500;
    font-size: toRem(17);
    line-height: math.div(20, 17);

    &:not(:last-child) {
      margin-bottom: em(10);
    }
  }

  // .item__link-title
  &__link-title {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .item__text
  &__text {
    font-size: toRem(14);
    line-height: math.div(22, 14);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  // .item__image-ibg
  &__image-ibg {
    min-height: toRem(130);
    padding: 0 0 percent(130, 170) 0;
    border-radius: toRem(4);
    overflow: hidden;
    display: inline-block;

    @media (min-width: $mobile) {
      grid-row: span 2;
    }
  }

  // .item__footer
  &__footer {
    display: grid;
    align-self: end;
    row-gap: toRem(8);
    grid-column: span 2;

    @media (min-width: em(380)) {
      grid-template-columns: minmax(toRem(170), percent(217, 540)) 1fr;
    }
  }

  // .item__info
  &__info {}

  // .item__actions
  &__actions {}
}

.info-item {
  padding: 0 toRem(10) 0 0;
  display: flex;
  align-items: center;
  column-gap: toRem(20);
  row-gap: toRem(5);
  color: rgba(7, 46, 75, 0.4);
  font-size: toRem(12);
  line-height: math.div(15, 12);

  // .info-item__category
  &__category {
    color: inherit;
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      &::before {
        content: "";
        width: toRem(2);
        height: toRem(2);
        border-radius: 50%;
        background: #2f9ff8;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        right: toRem(-10);
      }
    }
  }

  // .info-item__time
  &__time {}
}

.actions-item {
  display: flex;
  column-gap: toRem(25);
  row-gap: toRem(5);
  flex-wrap: wrap;

  // .actions-item__link
  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: toRem(10);
    row-gap: toRem(5);
    color: $linkColor;
    font-size: toRem(12);
    line-height: math.div(15, 12);
    transition: color 0.3s ease 0s;

    &::before {
      font-size: toRem(16);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #1484e0;
      }
    }
  }

  @media (max-width: $mobile) {
    column-gap: toRem(15);
  }
}

// Заголовок з іконкою
.icon-title {
  font-size: toRem(15);
  display: inline-flex;
  align-items: center;
  line-height: math.div(18, 15);

  &_bold {
    font-weight: 700;
  }

  &::before {
    font-size: toRem(22);
    margin: 0px em(13, 22) 0px 0px;
  }
}

//========================================================================================================================================================
.right-side {
  display: grid;
  gap: toRem(15);
  align-content: start;
  padding-top: toRem(61);

  &__module {
    background-color: #fff;
    box-shadow: 0px toRem(2) toRem(20) rgba(0, 0, 0, 0.04);
    border-radius: toRem(4);
    padding: toRem(15);
    min-width: 0;
  }
}

//========================================================================================================================================================
.weather-module {
  display: grid;
  gap: toRem(15);

  // .weather-module__title
  &__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: toRem(15);
    line-height: math.div(18, 15);
    border-bottom: 0.2px solid rgba(7, 46, 75, 0.4);
    padding-bottom: toRem(9);
  }

  // .weather-module__body
  &__body {}

  // .weather-module__footer
  &__footer {
    display: flex;
    gap: toRem(23);
  }

  // .weather-module__type
  &__type {
    font-size: toRem(12);
    line-height: math.div(14, 12);
    color: $textColor;

    // .weather-module__type_active
    &_active {
      color: $mainColor;
    }
  }
}

.body-weather-module {
  display: flex;

  // .body-weather-module__info
  &__info {
    flex: 1 1 auto;
  }

  // .body-weather-module__status
  &__status {
    font-size: toRem(15);
    line-height: math.div(18, 15);

    &:not(:last-child) {
      margin-bottom: toRem(7);
    }
  }

  // .body-weather-module__value
  &__value {
    font-weight: 700;
    font-size: toRem(26);
    line-height: math.div(30, 26);

    sup {
      font-size: toRem(12);
    }
  }

  // .body-weather-module__icon
  &__icon {}
}

//========================================================================================================================================================

.story-writer {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: toRem(9);

  // .story-writer__title
  &__title {
    grid-column: span 2;
  }

  // .story-writer__info
  &__info {
    color: $textColor;
    font-size: toRem(12);
    line-height: math.div(18, 12);
  }

  // .story-writer__button
  &__button {}
}

//========================================================================================================================================================

.quick-bytes {

  // .quick-bytes__header
  &__header {
    display: flex;
    justify-content: space-between;
    font-size: toRem(15);
    line-height: math.div(18, 15);
    border-bottom: 0.2px solid rgba(7, 46, 75, 0.4);
    padding-bottom: toRem(9);

    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
  }

  // .quick-bytes__title
  &__title {}

  // .quick-bytes__arrows
  &__arrows {
    display: flex;
    gap: toRem(10);
  }

  // .quick-bytes__arrow
  &__arrow {
    background: #2f9ff8;
    flex: 0 0 24px;
    height: toRem(24);
    width: toRem(24);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &::before {
      font-size: toRem(10);
      transform: translate(toRem(1), 0px);
    }

    // .quick-bytes__arrow_left
    &_left {
      transform: rotate(-180deg);
    }

    // .quick-bytes__arrow_right
    &_right {}

    &.swiper-button-disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  // .quick-bytes__slider
  &__slider {}

  // .quick-bytes__wrapper
  &__wrapper {}

  // .quick-bytes__slide
  &__slide {
    font-size: toRem(12);
    line-height: math.div(20, 12);
    color: $textColor;

    p {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }

  // .quick-bytes__dotts
  &__dotts {
    display: flex;
    gap: toRem(8);
    justify-content: center;
    align-items: center;
    min-height: toRem(4);
    padding-top: toRem(15);

    .swiper-pagination-bullet {
      width: toRem(2);
      height: toRem(2);
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      background: rgba(7, 46, 75, 0.2);
    }

    .swiper-pagination-bullet-active {
      width: toRem(4);
      height: toRem(4);
      background: #2f9ff8;
    }
  }
}

//========================================================================================================================================================

.subscribe-module {

  // .subscribe-module__title
  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }

  // .subscribe-module__form
  &__form {}

  // .subscribe-module__line
  &__line {
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }

    .form__error {
      font-size: toRem(10);
      color: red;
      margin-top: toRem(2);
    }
  }

  // .subscribe-module__input
  &__input {
    background: #f4f9f8;
    border: 1px solid rgba(7, 46, 75, 0.2);
    box-sizing: border-box;
    border-radius: toRem(4);
    height: toRem(38);
    padding: 0px toRem(14);
    font-size: toRem(15);
    width: 100%;
    color: $textColor;

    &:focus {
      color: $mainColor;
    }

    &._form-error {
      border: 1px solid red;
    }
  }

  // .subscribe-module__button
  &__button {}
}