// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================
.common {}

.common__item {
  margin: 0px 0px 20px 0px;
}

//========================================================================================================================================================

// Картка
.item {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: grid;
  row-gap: toRem(10);
  align-items: start;
  grid-template-columns: 1fr minmax(toRem(130), percent(170, 730));
  column-gap: toRem(17);
  padding: toRem(17) toRem(17) toRem(17) toRem(24);

  @media (max-width: em(400)) {
    padding: toRem(10);
  }

  // .item_noimage
  &_noimage {
    grid-template-columns: 1fr;
  }

  @media (max-width:em(380)) {
    grid-template-columns: 1fr;
  }

  // .item__body
  &__body {}

  // .item__title
  &__title {
    font-weight: 500;
    font-size: toRem(17);
    line-height: math.div(20, 17);

    &:not(:last-child) {
      margin-bottom: em(10);
    }
  }

  // .item__link-title
  &__link-title {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .item__text
  &__text {
    font-size: toRem(14);
    line-height: math.div(22, 14);

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  // .item__image-ibg
  &__image-ibg {
    min-height: toRem(130);
    padding: 0 0 percent(130, 170) 0;
    border-radius: toRem(4);
    overflow: hidden;
    display: inline-block;

    @media (min-width:$mobile) {
      grid-row: span 2;
    }
  }

  // .item__footer
  &__footer {
    display: grid;
    align-self: end;
    row-gap: toRem(8);

    @media (max-width:$mobile) and (min-width:em(380)) {
      grid-column: span 2;
    }

    @media (min-width:em(380)) {
      grid-template-columns: minmax(toRem(170), percent(217, 540)) 1fr;
    }
  }

  // .item__info
  &__info {}

  // .item__actions
  &__actions {}
}

.info-item {
  padding: 0 toRem(10) 0 0;
  display: flex;
  align-items: center;
  column-gap: toRem(20);
  row-gap: toRem(5);
  color: rgba(7, 46, 75, 0.4);
  font-size: toRem(12);
  line-height: math.div(15, 12);

  // .info-item__category
  &__category {
    color: inherit;
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      &::before {
        content: '';
        width: toRem(2);
        height: toRem(2);
        border-radius: 50%;
        background: #2F9FF8;
        opacity: 0.4;
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        right: toRem(-10);
      }
    }
  }

  // .info-item__time
  &__time {}
}

.actions-item {
  display: flex;
  column-gap: toRem(25);
  row-gap: toRem(5);
  flex-wrap: wrap;

  // .actions-item__link
  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: toRem(10);
    row-gap: toRem(5);
    color: $linkColor;
    font-size: toRem(12);
    line-height: math.div(15, 12);
    transition: color 0.3s ease 0s;

    &::before {
      font-size: toRem(16);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #1484e0;
      }
    }
  }

  @media (max-width:$mobile) {
    column-gap: toRem(15);
  }
}

// Заголовок з іконкою
.icon-title {
  font-size: rem(15);
  display: inline-flex;
  align-items: center;
  line-height: math.div(18, 15);

  &_bold {
    font-weight: 700;
  }

  &::before {
    font-size: rem(22);
    margin: 0px em(13, 22) 0px 0px;
  }
}