//====================================================================================================
.header {
  position: relative;
  z-index: 50;
  padding: toRem(15) 0;

  // .header__container
  &__container {
    display: grid;
    min-height: toRem(46);
    align-items: center;
    @include adaptiveValue("gap", 45, 20);
    grid-template-columns: percent(226, 1372) 1fr percent(285, 1372);

    @media (max-width: $tablet) {
      grid-template-columns: auto 1fr auto auto;
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    z-index: 5;
    justify-self: start;
    white-space: nowrap;
    color: #0768b5;
    font-weight: 700;
    font-size: toRem(18);
    line-height: toRem(35);
    padding: 0px 0px 0px toRem(44);
    min-width: toRem(29);
    background: url("@img/logo.png") left / toRem(29) no-repeat;

    @media (max-width: toRem(550)) {
      padding: 0;
      min-height: toRem(35);

      span {
        display: none;
      }
    }
  }

  // .header__body
  &__body {}

  // .header__user
  &__user {
    position: relative;
    z-index: 5;
    justify-self: end;
  }
}

.body-header {
  display: grid;
  grid-template-columns: 1fr percent(256, 771);
  gap: toRem(20);

  // .body-header__search
  &__search {}

  // .body-header__latest
  &__latest {}

  @media (max-width:$mobile) {
    grid-template-columns: 1fr;
  }
}

.search {
  position: relative;
  z-index: 5;
  height: toRem(46);

  &.search__open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 toRem(10);
    z-index: 8;
  }

  // .search__body
  &__body {
    flex: 1 1 auto;
    background: #ecf5f8;
    height: toRem(46);
    border-radius: toRem(4);
    position: relative;

    @media (max-width: em(429.98)) {
      background: transparent;
    }

    .search__open & {
      background: #ecf5f8;
    }
  }

  // .search__input
  &__input {
    height: 100%;
    background-color: transparent;
    width: 100%;
    padding: 0 toRem(46) 0 toRem(14);
    color: rgba(7, 45, 75, 0.3);
    font-size: toRem(14);

    &:focus {
      color: rgba(7, 45, 75, 1);
    }

    @media (max-width: em(429.98)) {
      display: none;
    }

    .search__open & {
      display: block;
    }
  }

  // .search__button
  &__icon,
  &__button {
    display: none;
    width: toRem(46);
    height: toRem(46);
    position: absolute;
    top: 0;
    right: 0;
    font-size: toRem(18);
    background-color: transparent;
  }

  &__button {
    @media (min-width: em(430)) {
      display: block;
    }

    .search__open & {
      display: block;
    }
  }

  &__icon {
    @media (max-width: em(429.98)) {
      display: block;
    }

    .search__open & {
      display: none;
    }
  }
}

.latest-header {
  position: relative;
  z-index: 5;
  background: #F4F9F8;
  border: 0.2px solid #072D4B;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: toRem(3) toRem(14);
  font-size: toRem(15);

  @media (max-width:$mobile) {
    display: none;
  }

  // .latest-header__text
  &__value {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    overflow: hidden;
    padding-right: toRem(5);
    line-height: math.div(18, 15);

    span {
      color: #2F9FF8;
      font-weight: 500;
    }
  }

  // .latest-header__arrow
  &__arrow {
    flex: 0 0 toRem(13);
    font-size: toRem(13);
  }
}

.user-header {
  position: relative;

  // .user-header__title
  &__title {
    display: flex;
  }

  // .user-header__profile
  &__profile {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    font-size: toRem(15);
    line-height: math.div(18, 15);
    @include adaptiveValue("padding-right", 35, 10, 1440, 992, 1);

    span {
      padding-left: toRem(16);
    }

    &::before {
      font-size: toRem(20);
      width: toRem(20);
      flex: 0 0 toRem(20);
    }

    @media (max-width:$tablet) {
      span {
        display: none;
      }
    }
  }

  // .user-header__arrow
  &__arrow {
    transition: transform 0.3s ease 0s;
    font-size: toRem(8);

    .user-header_open & {
      transform: rotate(-180deg);
    }
  }

  // .user-header__menu
  &__menu {
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.menu-user {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.04);
  padding: toRem(15);
  display: grid;
  gap: toRem(10);
  background-color: #fff;
  min-width: toRem(150);
  border-radius: toRem(4);
  transform: translate(0, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;

  // .menu-user__item
  &__item {}

  // .menu-user__link
  &__link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .user-header_open & {
    transform: translate(0, toRem(5));
    opacity: 1;
    visibility: visible;
  }
}

//====================================================================================================

//Burger
.icon-menu {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - toRem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}