//====================================================================================================
.home {
  &__stories {
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
  }

  // .home__creators
  &__creators {
    &:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }
}

//====================================================================================================
.stories-module {
  padding: toRem(16) 0px 0px 0px;

  // .stories-module__title
  &__title {
    font-weight: 700;
    font-size: toRem(20);
    line-height: math.div(23, 20);

    &:not(:last-child) {
      margin-bottom: toRem(22);
    }
  }

  // .stories-module__filter
  &__filter {
    &:not(:last-child) {
      margin-bottom: toRem(18);
    }
  }

  // .stories-module__items
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 16, 10);

    @media (max-width: em(1439.98)) {
      grid-template-columns: 1fr;
    }
  }

  // .stories-module__item
  &__item {
    @media (min-width: em(1440)) {
      &:first-child {
        grid-column: span 2;
      }
    }
  }
}

.filter {
  display: inline-flex;

  // .filter__item
  &__item {
    background: #ffffff;
    font-size: toRem(15);
    line-height: math.div(18, 15);
    padding: toRem(6) toRem(16);
    box-shadow: 0px toRem(2) toRem(20) rgba(0, 0, 0, 0.04);
    border-radius: toRem(20);
    transition: all 0.3s ease 0s;
    margin-bottom: toRem(10);

    &:not(:last-child) {
      margin-right: toRem(10);
    }

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background: #2f9ff8;
      }
    }

    &_active {
      color: #fff;
      background: #2f9ff8;
    }

    // .filter__item_more
    &_more {
      box-shadow: none;
      background-color: transparent;
      padding: 0 toRem(4);
      font-size: toRem(6);

      @media (any-hover: hover) {
        &:hover {
          background-color: inherit;
          color: #2f9ff8;
        }
      }
    }
  }
}

//========================================================================================================================================================
.creators-module {

  // .creators-module__header
  &__header {
    display: grid;
    gap: toRem(15);
    grid-template-columns: 1fr auto;
  }

  // .creators-module__title
  &__title {}

  // .creators-module__arrows
  &__arrows {
    display: flex;
    align-items: center;
    gap: toRem(20);
  }

  // .creators-module__arrow
  &__arrow {
    transition: color 0.3s ease 0s;

    // .creators-module__arrow_left
    &_left {
      transform: rotate(-180deg);
    }

    // .creators-module__arrow_right
    &_right {}

    &.swiper-button-disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  // .creators-module__slider
  &__slider {
    margin: 0px toRem(-12);
    padding: toRem(12);
  }

  // .creators-module__wrapper
  &__wrapper {}

  // .creators-module__slide
  &__slide {}
}

.slide-creator {
  height: 100%;
  background-color: #fff;
  box-shadow: 0px toRem(2) toRem(12) rgba(0, 0, 0, 0.04);
  border-radius: toRem(4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: toRem(13);
  text-align: center;

  &__body {
    flex: 1 1 auto;

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .slide-creator__avatar-ibg
  &__avatar-ibg {
    display: inline-block;
    width: toRem(70);
    height: toRem(70);
    border-radius: 50%;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .slide-creator__title
  &__title {
    font-size: toRem(14);
    font-weight: 500;
    line-height: math.div(18, 14);

    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }

  // .slide-creator__position
  &__position {
    font-size: toRem(12);
    line-height: math.div(14, 12);
    color: $textColor;
  }

  // .slide-creator__link
  &__link {}
}